{:port 8080 ; Порт, на котором будет работать сервер
 :api-url "http://yandex.ru/blogs/rss/search" ; Адрес API поиска по блогам
 :numdoc 10 ; Количество результатов поиска в ответе посика по блогам
 :max-concurrent-requests 2 ; Максимальное количество одновременных запросов к API поиска по блогам
 :testing-server-port 4242} ; Порт, на котором работают серверы для тестирования